# Konfigurasi Database (Ganti ke mysql+pymysql://user:password@localhost:3306/sigap_db jika menggunakan MySQL)
DATABASE_URL=sqlite:///./sigap.db

# Kunci Rahasia JWT
JWT_SECRET_KEY=sigap_super_secret_jwt_key_lamongan_2026_change_in_production
JWT_ALGORITHM=HS256
JWT_EXPIRE_MINUTES=120
